<?xml version="1.0" encoding="UTF-8"?>
<!-- logback.xml for engine-core -->
<configuration>
<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<encoder>-->
      <!--<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
    <!--</encoder>-->
  <!--</appender>-->

  <logger name="io.nosqlbench" specificity="TRACE"/>

</configuration>
