exported_docs.zip
.nosqlbench/**
.run/**
workspaces/**
workshop/**
local/**
metrics/**
bin/**
**/.idea
**/*.iml
**/target
**/.classpath
**/.project
**/.settings
**/*.log
**/logs
**/*.*log
**/generated
**/.DS_Store
**/generated/**
**/.flattened-pom.xml
**/stargate-token.txt
/deptree.txt
