exported_docs.zip
.nosqlbench/**
workspaces/**
workshop/**
local*
local/**
metrics/**
bin/**
**/.idea
!.idea/scopes
!.idea/scopes/**
**/*.iml
**/target
**/.classpath
**/.project
**/.settings
**/*.log
**/logs
**/*.*log
**/generated
**/.DS_Store
**/generated/**
**/.flattened-pom.xml
**/stargate-token.txt
/deptree.txt
