##
# Below is an example to connect to Astra Streaming with RabbitMQ/S4R enabled
amqpSrvHost=rabbitmq-gcp-uscentral1.streaming.datastax.com
amqpSrvPort=5671
virtualHost=nbtest/rabbitmq
amqpUser=
amqpPassword=<jwt_token_file_tmpl>
# when using Astra Streaming with S4R, this needs to be set to true
useTls=true
# valid values: direct, fanout, topic, headers
exchangeType=direct
