body {
    font-size: 1.0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    background-color: lightblue;
}

a.toc-link {
    text-decoration: none;
}

/*h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {*/
/*    display: block;*/
/*    content: " ";*/
/*    height: 60px;*/
/*    margin-top: -60px;*/
/*    visibility: hidden;*/
/*}*/

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-20-0-m {
        width: 0;
    }
}

@media screen and (min-width: 60em) {
    .w-25-l {
        width: 25%;
    }
}

/*ol {*/
/*    display: block;*/
/*    list-style-type: decimal;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    padding-inline-start: 40px;*/
/*}*/